<div fxLayout="row">
  <img matListAvatar src="https://lorempixel.com/64/64/" alt="...">
  <h1 mat-dialog-title>{{artifact$.name}}</h1>
  <span class="spacer"></span>
  <span fxLayoutAlign="end start">
    <button mat-icon-button color="warn" (click)="onNoClick()"><mat-icon>clear</mat-icon></button>
  </span>
</div>

<div mat-dialog-content>
  <!-- <div fxLayout="row">
    <img src="https://lorempixel.com/64/64/"/>
    <h1>{{artifact$.name}}</h1>
  </div> -->

  <mat-list>
    <mat-list-item *ngFor="let uArtifact of userArtifacts$">      
      <h2 matLine>
        <span fxLayoutAlign="start center"></span>
        <span fxLayoutAlign="end center">Lv.{{uArtifact.skill}}/{{uArtifact.maxSkill}}</span>
      </h2>
      <p matLine>
        <span> 
          <mat-icon [ngClass]="(uArtifact.limit >= 1) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 2) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 3) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 4) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 5) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
        </span>
        <span>
          <button mat-icon-button (click)="decreaseLimit(uArtifact)" [disabled]="uArtifact.limit < 1"><mat-icon>remove</mat-icon></button>
          <button mat-icon-button (click)="increaseLimit(uArtifact)" [disabled]="uArtifact.limit > 4"><mat-icon>add</mat-icon></button>
        </span>
      </p>
      <div matLine>
        <!-- atk def hp spd critR critD eff effR unity -->
        <div *ngIf="isStatEnabled(uArtifact, 'hp')">
          <mat-icon>favorite</mat-icon>
          {{getStatValue(uArtifact, 'hp')}}
        </div>       
      </div>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row">
    <span class="spacer"></span>
    <span fxLayoutAlign="end end">
      <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>SAVE</button>
    </span>
  </div>
</div>