<div fxLayout="row">
  <h2 mat-dialog-title>Edit Artifact</h2>
  <span class="spacer"></span>
  <span fxLayoutAlign="end start">
    <button mat-icon-button color="warn" (click)="onNoClick()"><mat-icon>clear</mat-icon></button>
  </span>
</div>

<div mat-dialog-content>
  <!-- <div fxLayout="row">
    <img src="https://lorempixel.com/64/64/"/>
    <h1>{{artifact$.name}}</h1>
  </div> -->

  <mat-list>
    <mat-list-item *ngFor="let uArtifact of userArtifacts$">
      <img matListAvatar src="https://lorempixel.com/64/64/" alt="...">
      <h3 matLine>
        <span fxLayoutAlign="start center">{{artifact$.name}}</span>
        <span fxLayoutAlign="end center">Lv.{{uArtifact.level}}/{{uArtifact.maxLevel}}</span>
      </h3>
      <p matLine>
        <span>Limit</span>
        <span> 
          <mat-icon [ngClass]="(uArtifact.limit >= 1) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 2) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 3) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 4) ? 'limitFull' : 'limitEmpty'">label_important</mat-icon>
          <mat-icon [ngClass]="(uArtifact.limit >= 5) ? 'limitFull' : 'limitEmpty'">remove</mat-icon>
        </span>
        <span>
          <button mat-button (click)="decreaseLimit(uArtifact)" [disabled]="uArtifact.limit < 1"><mat-icon>remove</mat-icon></button>
          <button mat-button (click)="increaseLimit(uArtifact)" [disabled]="uArtifact.limit > 4"><mat-icon>add</mat-icon></button>
        </span>
      </p>
    </mat-list-item>
  </mat-list>

  <div fxLayout="row">
    <span class="spacer"></span>
    <span fxLayoutAlign="end end">
      <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>SAVE</button>
    </span>
  </div>
</div>