<div class="container" fxLayout="column" fxLayoutAlign="center" fxFlex="100%">
  <div fxLayout="row">
    <h1 fxFlex="40%">Artifacts</h1>
    <span class="spacer"></span>
    <mat-form-field appearance="outline" fxFlex="40%">
      <mat-label>Search artifacts...</mat-label>
      <input matInput placeholder="artifact name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
    
  <div fxLayout="row">
    <table mat-table [dataSource]="artifacts$" fxFlex>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let artifact"><img src="https://lorempixel.com/64/64/"/></td>
      </ng-container>

      <ng-container matColumnDef="rarity">
        <th mat-header-cell *matHeaderCellDef> Rarity </th>
        <td mat-cell *matCellDef="let artifact"> 
          <span>{{artifact.rarity}}</span>
          <mat-icon class="star">star</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let artifact"><h2> {{artifact.name}} </h2></td>
      </ng-container>

      <ng-container matColumnDef="owned">
        <th mat-header-cell *matHeaderCellDef> Owned </th>
        <td mat-cell *matCellDef="let artifact">
          <mat-icon class="summon" *ngIf="isOwned(artifact.fileId)">check</mat-icon>
          <mat-icon class="warn" *ngIf="!isOwned(artifact.fileId)">remove</mat-icon>
          <span *ngIf="isOwned(artifact.fileId)">{{ ownedCount(artifact.fileId) }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let artifact"> 
          <button mat-icon-button class="summon" matTooltip="Summon artifact" matTooltipPosition="above" (click)="summon(artifact)">
            <mat-icon>eco</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Edit artifact" matTooltipPosition="above"  *ngIf="isOwned(artifact.fileId)" (click)="doEdit(artifact)">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- <button mat-icon-button color="warn" (click)="openConfirmDeleteDialog(artifact)" matTooltip="Delete artifact" matTooltipPosition="above"  *ngIf="isOwned(artifact.fileId)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>