<a [routerLink]="['/']">
  <h1>EE7</h1>
</a>

<a [routerLink]="['/team-builder']" class="button fancy-button"><i class="material-icons">group</i>Team Builder</a>
<a [routerLink]="['/units']" class="button fancy-button"><i class="material-icons">person</i>My Units</a>
<a [routerLink]="['/artifacts']" class="button fancy-button"><i class="material-icons">smartphone</i>My Artifacts</a>
<a [routerLink]="['/equipment']" class="button fancy-button"><i class="material-icons">build</i>My Equipment</a>
