<mat-toolbar color="primary">
  <a [routerLink]="['/']"><h1>E7B</h1></a>

  <span class="spacer"></span>

  <button mat-button [routerLink]="['/team-builder']" class="button" *ngIf="isLoggedIn$"><mat-icon>group</mat-icon>Team Builder</button>
  <button mat-button [routerLink]="['/heroes']" class="button" *ngIf="isLoggedIn$"><mat-icon>person</mat-icon>My Heroes</button>
  <button mat-button [routerLink]="['/artifacts']" class="button" *ngIf="isLoggedIn$"><mat-icon>smartphone</mat-icon>My Artifacts</button>
  <button mat-button [routerLink]="['/equipment']" class="button" *ngIf="isLoggedIn$"><mat-icon>build</mat-icon>My Equipment</button>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item (click)="doLogin()" *ngIf="!isLoggedIn$">Login</button>
    <button mat-menu-item (click)="doLogout()" *ngIf="isLoggedIn$">Logout</button>
  </mat-menu>
</mat-toolbar>