<mat-toolbar color="primary">
<a [routerLink]="['/']"><h1>EE7</h1></a>
<span class="spacer"></span>
<a [routerLink]="['/team-builder']" class="button"><i class="material-icons">group</i>Team Builder</a>
<a [routerLink]="['/units']" class="button"><i class="material-icons">person</i>My Units</a>
<a [routerLink]="['/artifacts']" class="button"><i class="material-icons">smartphone</i>My Artifacts</a>
<a [routerLink]="['/equipment']" class="button"><i class="material-icons">build</i>My Equipment</a>
<span class="spacer"></span>

<button mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon>more_vert</mat-icon></button>
<mat-menu #accountMenu="matMenu">
  <button mat-menu-item [routerLink]="['/login']" *ngIf="true">Login</button>
  <button mat-menu-item [routerLink]="['/login']" *ngIf="">Logout</button>
</mat-menu>

</mat-toolbar>